# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
*.xcscmblueprint
*.xccheckout

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE
*.swp
*.swo
*~
.idea/
.vscode/

*.m4a

.idea/